.container {
  max-width: 900px;
  padding: 0 2rem;
}

.row {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.col-direction {
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.recipe-container {
  display: flex;
}

.recipe-box {
  display: flex;
}

.col-lg-third,
.col-sm-half {
  flex-basis: 100%;
}

@media only screen and (min-width: 576px) {
  .col-sm-half {
    flex-basis: 50%;
  }

  button {
    width: 80%;
  }

  img {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .col-lg-third {
    flex-basis: calc(100%/3);
  }

  button {
    width: 70%;
  }

  img {
    width: 100%;
  }
}
