body {
  font-family: "Roboto Slab", serif;
  background-color: fffbf5;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.flag-button {
  text-align: center;
}

.flag-button-border {
  border-radius: 100%;
  border: none;
  padding: 0;
  box-shadow: 0 5px 5px grey;
  cursor: pointer;
}

h1 {
  font-family: "Porter Sans", sans-serif;
  text-transform: uppercase;
  color: rgb(224, 33, 33);
  font-size: 2.5rem;
  padding: 0 2rem;
  margin: 0;
  letter-spacing: 3px;
}

h4 {
  font-weight: 400;
}

.img {
  width: 250px;
}

.hidden {
  display: none;
}

.recipe-box {
  margin: 0;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgb(163, 161, 161);
  align-items: flex-start;
}

.recipe-button {
  border: none;
  padding: 0;
  cursor: pointer;
}

.recipe-image {
  border: 1px solid rgb(235, 232, 232);
}

.recipe-title {
  height: 45px;
}

.step-number {
  font-weight: 600;
  margin: 0;
}

.instruction {
  font-weight: 400;
}

.instruction-container {
  margin: 2rem 1rem;
}

.img-ingredient-container {
  margin: 0 1rem;
}

.selected-recipe-image {
  margin-right: 3rem;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  line-height: 2rem;
}
