body {
  font-family: "Roboto Slab", serif;
  background-color: #fffbf5;
}

button {
  cursor: pointer;
}

.border-bottom-align {
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
}

.flag-button {
  text-align: center;
  padding: 1rem;
}

.flag-button-border {
  border-radius: 100%;
  border: none;
  padding: 0;
  box-shadow: 0 5px 5px grey;
}

h1 {
  font-family: "Porter Sans", sans-serif;
  text-transform: uppercase;
  color: rgb(227, 65, 65);
  font-size: 1.3rem;
  margin: 0.5rem 0;
  letter-spacing: 3px;
}

h4 {
  font-weight: 400;
}

.flag {
  object-fit: contain;
}

.hidden {
  display: none !important;
}

.recipe-box {
  margin: 0;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgb(163, 161, 161);
  align-items: flex-start;
}

.recipe-button {
  border: none;
  padding: 0;
}

.recipe-image,
.selected-recipe-image {
  border-radius: 5px;
  box-shadow: 0 3px 0 rgb(226, 225, 225);
  object-fit: contain;
}

.recipe-title {
  height: 45px;
  padding: 0 1rem;
}

.step-number {
  font-weight: 600;
  margin: 0;
}

.instruction {
  font-weight: 400;
}

.ingredient-list {
  width: 100%;
}

.ingredient-header,
.instruction-header,
.modal-selection {
  border-bottom: 1px solid rgb(163, 161, 161);
}

.ingredient-label,
.instruction-label {
  margin: 1rem 0;
}

.instruction-header {
  margin-bottom: 1rem;
}

.selected-recipe-image {
  height: 550px;
  margin: auto 0;
  margin-right: 3rem;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  line-height: 2rem;
}

.save-recipe-button {
  background-color: #f8d7c2;
  padding: 0;
  width: 8.8rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  font-size: 0.7rem;
  color: rgb(114, 113, 113);
}

.fa-bars,
.fa-xmark {
  font-size: 1.5rem;
  color: rgb(114, 113, 113);
}

.menu-button,
.modal-close-button {
  background-color: #fffbf5;
  border: none;
  width: 2rem;
}

.modal-close-button {
  width: 3rem;
}

.fa-xmark {
  margin: 0.5rem;
  font-size: 2rem;
}

.fa-bookmark {
  margin-left: 5px;
  color: rgb(114, 113, 113);
}

.save-recipe-button:active {
  background-color: rgb(247, 135, 135);
  color: white;
}

.save-recipe-button:active i {
  background-color: rgb(247, 135, 135);
  color: white;
}

.modal-background {
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
  background-color: rgb(50, 50, 50, 0.8);
  display: flex;
  justify-content: flex-end;
}

.modal-content {
  background-color: #fffbf5;
  width: 50%;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 1.3rem;
}

.modal-button {
  background-color: #fffbf5;
  text-align: left;
  padding: 1rem 0;
  border: none;
  font-size: 1rem;
  color: black;
}

.modal-selection {
  margin: 0 2rem;
}

.recipe-status-modal-container {
  position: relative;
}

.recipe-status-modal {
  background-color: rgb(250, 205, 205);
  color: rgb(59, 59, 59);
  font-size: 0.75rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgb(190, 190, 190);
  position: absolute;
  width: 150px;

  /* animation-name: fadeout;
  animation-delay: 3s;
  animation-duration: 3s; */
}

/* @keyframes fadeout {
  from {
    opacity: 0.8;
  }

  to {
    opacity: 0;
    display: none;
  }
} */

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  li,
  h4 {
    font-size: 1.2rem;
  }

  .save-recipe-button {
    width: 10rem;
    height: 2.25rem;
    font-size: 0.8rem;
  }

  .recipe-status-modal {
    font-size: 1rem;
    width: 200px;
  }
}
