body {
  font-family: "Roboto Slab", serif;
  background-color: fffbf5;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.flag-button {
  text-align: center;
}

.flag-button-border {
  border-radius: 100%;
  border: none;
  padding: 0;
  box-shadow: 0 5px 5px grey;
  cursor: pointer;
}

h1 {
  font-family: "Porter Sans", sans-serif;
  text-transform: uppercase;
  color: rgb(224, 33, 33);
  font-size: 2.5rem;
  padding: 0 2rem;
  margin: 0;
  letter-spacing: 3px;
}

h4 {
  font-weight: 400;
}

.img {
  width: 250px;
}

.hidden {
  display: none;
}

.recipe-container {
  margin: 0;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgb(163, 161, 161);
  align-items: flex-start;
}

.recipe-button {
  border: none;
  padding: 0;
  cursor: pointer;
}

.recipe-image {
  border: 1px solid rgb(235, 232, 232);
}
